<div class="col-md-12">
  <div class="group">
    <%= link_to("New group", new_group_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      <% @group.each do |group| %>
        <tr>
          <td>#</td>
          <td><%= link_to(group.title, group_path(group)) %></td>
          <td><%= group.description %></td>
          <td>
              <%= link_to("Edit", edit_group_path(group), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", group_path(group),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
                          <!-- method:delete 是一个要按钮才触发的动作，会对 Rails 送出 [DELETE] 的请求，这样 Rails 就知道是去找 destroy action
                              data: { confirm: "Are you sure?" 则是 Rails 触发确认讯息的方法。 -->
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
